.map-container {
  position: absolute;
  top: 200px;;
  bottom: 0;
  left: 10px;
  right: 50px;
  height: 50%;
  width: 50%;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 200px;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}
